<%#new presents the view to the user, then passes the data to the create method.
new handles the view. create handles modifying the database. GET routes are for
views to display to the user. POST routes will modify the database. %>
<form action="<%= users_url %>" method="POST"> 
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/> 
  <label>
    Username
    <input type="text" name="user[username]" value="<%= @user.username %>" /> 
  </label>
  <label>
    Password
    <input type="password" name="user[password]" value="" />
  </label>

  <input type="submit" value="Sign Up" />
</form>